<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="IdeaInYou\Review\Api\ReviewInterface" type="IdeaInYou\Review\Model\Review" />
    <preference for="IdeaInYou\Review\Api\ReviewRepositoryInterface" type="IdeaInYou\Review\Model\ReviewRepository" />

    <!--    grid-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ideainyou_review_grid_data_source" xsi:type="string">IdeaInYou\Review\Model\ResourceModel\Review\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="IdeaInYou\Review\Model\ResourceModel\Review\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ideainyou_review</argument>
            <argument name="eventPrefix" xsi:type="string">ideainyou_review</argument>
            <argument name="eventObject" xsi:type="string">ideainyou_review</argument>
            <argument name="resourceModel" xsi:type="string">IdeaInYou\Review\Model\ResourceModel\Review</argument>
        </arguments>
    </type>
    <!--    grid end-->


</config>
